<div class="image_insert_field chester_image_uploader">
	<p><img src="{{theValue}}" /></p>
	<input type="hidden" value="{{theValue}}" name="{{theName}}" class="image_input_value" />
	<input tabindex="2" class="image_upload_button" type="button" value="{{imageUploadText}}" />
	<input tabindex="2" class="image_remove_button {{imageRemoveClass}}" type="button" value="Remove" />
</div>