<div class="pattern">
	<div class="display">
		{{{pattern}}}
	</div>
	<div class="source">
		<p>{{patternName}}</p>
		<script type="syntaxhighlighter" class="brush: html; collapse: false;"><![CDATA[{{{pattern}}}]]></script>
	</div>
</div>