<style>
.pattern-primer-title {
	margin: 1em 2.5%;
}
.pattern-primer-group {
	background-color: #fefefe;
	background: rgba(255,255,255,0.9);
	margin: 1em 2.5%;
	padding: 1em 2.5%;
	border-left: 1px solid;
	border-right: 1px solid;
	border-color: #ddd;
	border-color: rgba(0,0,0,0.13);
}
.pattern {
    clear: both;
    overflow: hidden;
}
.pattern .display {
    width: 65%;
    float: left;
}
.pattern .source {
    width: 30%;
    float: right;
}
.pattern .source textarea {
    width: 90%;
}
html {
	border-top: 0.5em solid #693;
	background-color: #eee;
}
.pattern-primer-sample-grid {
	width: 100%;
	height: 10em;
	background-color: gray;
	margin-bottom: 1em;
}
</style>

<link rel="stylesheet" href="{{syntaxhighlighter_directory}}/styles/shCore.css" media="screen" />
<link rel="stylesheet" href="{{syntaxhighlighter_directory}}/styles/shThemeDefault.css" media="screen" />

<script src="{{syntaxhighlighter_directory}}/scripts/shCore.js" type="text/javascript" charset="utf-8"></script>
<script src="{{syntaxhighlighter_directory}}/scripts/shBrushXml.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
  SyntaxHighlighter.all();
</script>
