<div class="pattern-primer-sample-grid">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in nisi sapien, vel condimentum lacus. Integer lacinia turpis ut metus imperdiet vestibulum.</p>
</div>